@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 10, 10, 10;
  --card-border-rgb: 45, 45, 45;
  --text-secondary-rgb: 156, 163, 175;
  --card-background: #1f1e20;
  --primary-color: #A8E80E;
}

* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
}

@layer base {
  p {
    @apply text-[.875rem] leading-[1.25rem] text-[#9ca3af];
  }
}

@layer components {
  .card-gradient {
    background: var(--card-background);
  }

  .button-style {
    @apply bg-white/10 rounded-lg border border-[rgb(45,45,45)] text-white px-4 py-2 transition-colors duration-200 hover:bg-white/20;
  }

  .card-hover {
    @apply transition-all duration-200 hover:border-[#A8E80E] hover:shadow-[0_0_0_1px_rgba(168,232,14,0.1)];
  }
} 